<div class="wrapper">

  <div class="side-bar">
    <%= render "shared/side_bar" %>
  </div>
  <div class="chat">
    <div class="chat-header">
      <div class="left-header">
        <div class="header-title">
          about Spinach
        </div>
      </div>
      <div class="right-header">
        <div class="header-button">
        </div>
      </div>
    </div>

    <div class="messages">
      <div class="content">
        <div class="user-avatar">
          <i class="fas fa-user"></i>
        </div>
        <div class="communicate">
          <div class="upper-message">
            <div class="message-user">
              Spinach作成者さんより
              Spinachについての
              連絡があります
            </div>
          </div>
          <div class="message-content">
            Spinachとは
          </div>
          <div class="lower-message">
            <div class="message-date">
            </div>
            <div class="reads">
            </div>
            <span class="reads-count">
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="form">
    </div>
  </div>
</div>