.chat-header {
  width: calc(100vw - 250px);
  height: 70px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px rgb(200, 200, 200);
}

.header-title {
  color: #333;
  font-size: 30px;
  margin-top: 10px;
}

.header-button {
  margin-top: 5px;
}

.header-button a {
  text-decoration: none;
  color: darkred;
  font-size: 40px;
}

.messages {
  height: calc(100vh - 70px - 120px);
  overflow: scroll;
  overflow: hidden visible;
  position: relative;
}

.form {
  height: 120px;
  padding: 20px 40px;
  border-top: solid 1px rgb(200, 200, 200);
}

.content-title-type-forms {
  display: flex;
  margin-bottom: 10px;
}

.content-title-form {
  width: 50%;
  border: none;
}

.content-title-type-forms span {
  margin: 0 5px;
}

.form-input {
  background-color: white;
  display: flex;
  width: 100%;
}

.form-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
  resize: none;
}

.form-submit {
  background-color: lightslategrey;
  border: none;
  color: white;
  font-size: 20px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}