.side-bar-header {
  height: 70px;
  padding: 0 20px;
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px rgb(200, 200, 200);
  border-right: solid 1px rgb(200, 200, 200);
}

.header-user {
  display: flex;
}

.header-user-name {
  font-size: 16px;
  color: #5e6369;
  text-decoration: none;
  text-align: left;
  align-self: center;
  margin-left: 5px;
}

.log-out-link {
  text-decoration: none;
  color: #5e6369;
  font-size: 14px;
  display: block;
}

.session-links {
  height: 70px;
  display: flex;
  border-bottom: solid 1px rgb(200, 200, 200);
  border-right: solid 1px rgb(200, 200, 200);
}

.log-in-link {
  text-decoration: none;
  color: #5e6369;
  font-size: 14px;
  display: block;
  height: 100%;
  width: 50%;
  padding-top: 25px;
  text-align: center;
}

.sign-up-link {
  text-decoration: none;
  color: #5e6369;
  font-size: 14px;
  display: block;
  height: 100%;
  width: 50%;
  padding-top: 25px;
  text-align: center;
  border-left: 1px solid rgb(200, 200, 200);
}

.side-bar-main {
  border-right: solid 1px rgb(200, 200, 200);
  background-color: #FFF;
  height: calc(100vh - 70px - 120px);
  padding: 0 20px;
  overflow-y: scroll;
  overflow: hidden visible;
  position: relative;
}

.room {
  margin: 0 -20px;
}

.selected {
  background-color: #c1f0d8;
}

.room-name a {
  text-decoration: none;
  color: #5e6369;
  padding: 20px;
  display: block;
}

.create-room a {
  text-decoration: none;
  color: #5e6369;
  padding: 20px;
  display: block;
  margin: 0 -20px;
}

.about {
  position: absolute;
  bottom: 0;
  padding: 20px 0;
  width: 250px;
}

.about a {
  text-decoration: none;
  color: #5e6369;
}

.side-bar-footer {
  height: 120px;
  padding: 10px 20px;
  background-color: #FFF;
  border-right: solid 1px rgb(200, 200, 200);
  border-top: solid 1px rgb(200, 200, 200);
}

.logo {
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -2px;
  margin-bottom: 6px;
}

.spinach-logo-image {
  height: 30px;
  width: 30px;
}

.spinach-logo-character {
  padding-left: 10px;
  border-top: solid 2px mediumseagreen;
  border-bottom: solid 2px mediumseagreen;
  font-weight: bold;
}

.footer-link {
  margin: 0 -20px;
}

.footer-link a {
  color: #5e6369;
  text-decoration: none;
  font-size: 14px;
  display: block;
  padding: 5px 20px;
}